<section class="property-listing">
    <div class="container">
        <div class="row">
            <div *ngFor="let property of properties" class="col-lg-4">
                <div class="card">
                    <a href="24_Property_Single.html" title="">
                        <div class="img-block">
                            <div class="overlay"></div>
                            <img src="https://via.placeholder.com/370x295" alt="" class="img-fluid">
                            <div class="rate-info">
                                <h5>{{ property.price }}</h5>
                                <span>{{ property.status }}</span>
                            </div>
                        </div>
                    </a>
                    <div class="card-body">
                        <a href="24_Property_Single.html" title="">
                            <h3>{{ property.name }}</h3>
                            <p>
                                <i class="la la-map-marker"></i>{{ property.location }}
                            </p>
                        </a>
                        <ul>
                            <li>{{ property.rooms }} Bathrooms</li>
                            <li>Area {{property.size }} Sq Ft</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="pull-left">
                            <i class="la la-heart-o"></i>
                        </a>
                        <a href="#" class="pull-right">
                            <i class="la la-calendar-check-o"></i> 25 Days Ago</a>
                    </div>
                    <a href="#" title="" class="ext-link"></a>
                </div>
            </div>
        </div>
    </div>
</section>
